.AProposPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:80%;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
    padding: 10%;
}