.container-fiche {
    margin: 10% auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.member-profile {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 auto;
    width:60%;
    padding: 20px;
}

.member-profile h1 {
    width: 100%;
    margin-top: 0;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}

.member-profile p {
    font-size: 1.2em;
    text-align: left;
    font-family: 'Ysabeau SC', sans-serif;
}

.back-link {
    width:100%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
    font-family: 'Ysabeau SC', sans-serif;
}

.back-link:hover {
    text-decoration: underline;
}
